 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 	<title>Document</title>
<style>
	.a-custome{
		background-image: linear-gradient(to right, rgba(165, 0, 0, 0.7), rgb(177, 0,0, 1));
		text-decoration: none;
		color:#fff !important;
		border: 1px solid #fff;
		font-size: 18px;
		padding: 15px 10%;
color:#fff;
		
	}
	.a-custome:hover{
		border-radius: 50%;
		background-image: linear-gradient(to right, rgba(255, 0, 0, 0.7), rgb(255, 4, 4));
	}
</style>
</head>
<body style="background-color:rgb(228, 226, 226)">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;"
		width="550" bgcolor="white" style="border:1px solid #fff">
		<tbody>
			<tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0"
						cellspacing="0" class="col-550" width="550">
						<tbody>
							<tr>
								<td align="center" style="background-color: #d33a3a;
										height: 50px;">

									<a href="#" style="text-decoration: none;">
										<p style="color:white;
												font-weight:bold; font-size: 20;">
											0-0 Happy Food 0-0
										</p>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr style="height: 80px; background-image: linear-gradient(to right, rgba(252, 103, 103, 0.2), rgba(252, 103, 103, 0.5));">
				<td align="center" style="border: none;
						border-bottom: 2px solid #fff;
						padding-right: 20px;padding-left:20px">

					<p style="font-size: 20px;
							letter-spacing: 0.025em;
							color:black; padding: 5px 0; margin: 0;">
						Welcome to Happy Food
			</p>
					<span style="font-size: 18px; color: #444444">Trust loved by quality dishes - quantity</span>
				</td>
			</tr>

			<tr>
				<td style="width: 100%;
						padding:20px 20px;
						border: none;
						text-align: center;
						border-bottom: 2px solid #ff0000;
						background-color: white;">
					
					<h2>
						What is special about HappyFood?
					</h2>
					<div class="data"
					style="margin: 5px 0 5px 15%;
					align-items: flex-start;
					text-align: left;
							font-size: 15px;
							padding-bottom: 12px; ">
							<p style="letter-spacing: 0.025em; font-size: 18px; padding-bottom: 5px; " ><img src="https://th.bing.com/th/id/OIP.BdQvi9K_sE5EUd3mGifV6QHaFI?pid=ImgDet&rs=1" style="width:20px; height:20px; margin-right:10px"/>Update recipe every day</p>
							<p style="letter-spacing: 0.025em; font-size: 18px; padding-bottom: 5px; " ><img src="https://th.bing.com/th/id/OIP.BdQvi9K_sE5EUd3mGifV6QHaFI?pid=ImgDet&rs=1" style="width:20px; height:20px; margin-right:10px"/>Cooking experience sharing forum</p>
							<p style="letter-spacing: 0.025em; font-size: 18px; padding-bottom: 5px; " ><img src="https://th.bing.com/th/id/OIP.BdQvi9K_sE5EUd3mGifV6QHaFI?pid=ImgDet&rs=1" style="width:20px; height:20px; margin-right:10px"/>Become the Chef in your house</p>
							<p style="letter-spacing: 0.025em; font-size: 18px; padding-bottom: 5px; " ><img src="https://th.bing.com/th/id/OIP.BdQvi9K_sE5EUd3mGifV6QHaFI?pid=ImgDet&rs=1" style="width:20px; height:20px; margin-right:10px"/>Diverse food catalog</p>
							<p style="letter-spacing: 0.025em; font-size: 18px; padding-bottom: 5px; " ><img src="https://th.bing.com/th/id/OIP.BdQvi9K_sE5EUd3mGifV6QHaFI?pid=ImgDet&rs=1" style="width:20px; height:20px; margin-right:10px"/>Free 100%</p>
							<p style="letter-spacing: 0.025em; font-size: 18px; padding-bottom: 5px; " ><img src="https://th.bing.com/th/id/OIP.BdQvi9K_sE5EUd3mGifV6QHaFI?pid=ImgDet&rs=1" style="width:20px; height:20px; margin-right:10px"/>Make cook so easy</p>
					</div>
					<p>
						<a class="a-custome" style="color:#fff" href=$subject>
						Active account now  <img src="https://th.bing.com/th/id/R.efbc9329c5d778cbfc436452ee4fb0dc?rik=eDnWN5aMh8wQiQ&riu=http%3a%2f%2fres.publicdomainfiles.com%2fpdf_view%2f80%2f13937457619464.png&ehk=K1i4tNngYCWJfpRgHII0340Jz4xHy72hQJAF5l6jkY4%3d&risl=&pid=ImgRaw&r=0"style="width:15px; height:15px; margin:0 5px"/></i>
					</a>
					</p>
				</td>
			</tr>
			<tr style="border: none;
			background-color: #d33a3a;
			color:white;
			padding-bottom: 20px;
			text-align: center;">
				

</tr>
<tr>
<td style="font-family:'Open Sans', Arial, sans-serif;
		font-size:11px; line-height:18px;
		color:#999999;"
	valign="top"
	align="center">
<a href="#"
target="_blank"
style="color:#999999;
		text-decoration:underline;">PRIVACY STATEMENT</a>
		| <a href="#" target="_blank"
		style="color:#999999; text-decoration:underline;">TERMS OF SERVICE</a>
		| <a href="#"
		target="_blank"
		style="color:#999999; text-decoration:underline;">RETURNS</a><br>
				© 2022 HappyFood. All Rights Reserved.<br>
				If you do not wish to receive any further
				emails from us, please
				<a href="#"
				target="_blank"
				style="text-decoration:none;
						color:#999999;">unsubscribe</a>
			</td>
			</tr>
			</tbody></table></td>
		</tr>
		<tr>
		<td class="em_hide"
		style="line-height:1px;
				min-width:700px;
				background-color:#ffffff;">
			<img alt=""
			src="images/spacer.gif"
			style="max-height:1px;
			min-height:1px;
			display:block;
			width:700px;
			min-width:700px;"
			width="700"
			border="0"
			height="1">
			</td>
		</tr>
		</tbody>
	</table>
</body>
</html>

